html
    head
        title test Media Markt
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        link(rel='stylesheet', href='style.css')
        //link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
        script(src='//code.jquery.com/jquery-1.10.2.js')
        //script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
        script(type="text/javascript", src="blocks/menu/menu.js")
        script(type="text/javascript", src="blocks/slider/slider.js")
        script(type="text/javascript", src="main.js")
        //<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    body
        div.contant
            h2.contant__header Каталог
            include blocks/directory/directory.jade
            h2.contant__header Меню
            include blocks/menu/menu.jade
            h2.contant__header Форма


            form(action='#')
                include blocks/select/select.jade
                include blocks/c-radio-check/c-radio-check
                include blocks/button/button.jade

            h2.contant__header Слайдер
            include blocks/slider/slider.jade





