html
    head
        title test Media Markt
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        link(rel='stylesheet', href='style.css')
        //link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
        script(src='//code.jquery.com/jquery-1.10.2.js')
        //script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
        script(type="text/javascript", src="main.js")
        //<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    body
        div.contant
            h2.contant__header Каталог
            include blocks/directory/directory.jade
            h2.contant__header Меню
            include blocks/menu/menu.jade
            h2.contant__header Форма


            form(action='#')
                fieldset
                    label(for='speed') Select a speed
                    select#speed(name='speed')
                        option Slower
                        option Slow
                        option(selected='selected') Medium
                        option Fast
                        option Faster
                    label(for='files') Select a file
                    select#files(name='files')
                        optgroup(label='Scripts')
                            option(value='jquery') jQuery.js
                            option(value='jqueryui') ui.jQuery.js
                        optgroup(label='Other files')
                            option(value='somefile') Some unknown file
                            option(value='someotherfile') Some other file with a very long option text
                    label(for='number') Select a number
                    select#number(name='number')
                        option 1
                        option(selected='selected') 2
                        option 3
                        option 4
                        option 5
                        option 6
                        option 7
                        option 8
                        option 9
                        option 10
                        option 11
                        option 12
                        option 13
                        option 14
                        option 15
                        option 16
                        option 17
                        option 18
                        option 19

                    include blocks/select/select.jade
                    p

                        include blocks/c-radio-check/c-radio-check
                        include blocks/button/button.jade






