nav.col-menu
    div.col-menu__items
        div.col-menu__item
         a(class="col-menu__lnk" href="#" data-img-menu="default")ТВ и Видео
        div.col-menu__item
         a(class="col-menu__lnk" href="#" data-img-menu="default")Компьютерная техника
        div.col-menu__item
         a(class="col-menu__lnk" href="#" data-img-menu="photo")Фото и видео техника
        div.col-menu__item
         a(class="col-menu__lnk" href="#" data-img-menu="default")Телефоны
        div.col-menu__item
         a(class="col-menu__lnk" href="#" data-img-menu="default")Портативная техника
        div.col-menu__item
         a(class="col-menu__lnk" href="#" data-img-menu="audio")Аудиотехника
        div.col-menu__item
           a(class="col-menu__lnk" href="#" data-img-menu="default")Автотехника
        div.col-menu__item
           a(class="col-menu__lnk" href="#" data-img-menu="default")Техника для дома
        div.col-menu__item
           a(class="col-menu__lnk" href="#" data-img-menu="default")Техника для кухни
        div.col-menu__item
           a(class="col-menu__lnk" href="#" data-img-menu="appliances")Встраиваемая техника
        div.col-menu__item
           a(class="col-menu__lnk" href="#" data-img-menu="default")Красота и Здоровье
        div.col-menu__item
           a(class="col-menu__lnk" href="#" data-img-menu="default")Игры и приставки
    div.col-menu__img
        img(src="images/menu/menu-default.jpg" alt="Изображение")