.col-menu
  clearfix()
  position absolute
  top 50px
  left -2px
  background #ffffff
  padding 15px 130px 15px 15px
  font-size 12px
  box-shadow  0px 5px 10px 0px rgba(0, 0, 0, 0.3)
  min-height 170px
  display none


  &__items
    column-count 2
    column-gap 15px

  &__item
    margin-bottom 0px

  &__lnk
    text-decoration none
    color #000
    display block
    min-width 130px
    padding 3px 5px
    display block

    &_t_active
      background-color #e5e5e5

  &__img
    position absolute
    right 15px
    top 15px
    max-width 100px
    max-height 140px
    margin auto
