section.directory
    figure.directory__item
        p.directory__img-wrap
            img.directory__img(src="images/catalog.jpg" alt="Изображение")
        figcaption.directory__discription СМИ сообщают, что в индии был замечен новый внедорожник Chevrolet Trailblazer.

    figure.directory__item
        p.directory__img-wrap
            img.directory__img(src="images/catalog.jpg" alt="Изображение")
        figcaption.directory__discription Официальные дилеры немецкого автоконцерна "Audi" в России начали прием заказов на 5-местный хетчбэк RS 3 Sportback.

    figure.directory__item
        p.directory__img-wrap
            img.directory__img(src="images/catalog.jpg" alt="Изображение")
        figcaption.directory__discription Datsun наращивает продажи в России

    figure.directory__item
        p.directory__img-wrap
            img.directory__img(src="images/catalog.jpg" alt="Изображение")
        figcaption.directory__discription В России может появиться дизельный Hyundai ix25

    figure.directory__item
        p.directory__img-wrap
            img.directory__img(src="images/catalog.jpg" alt="Изображение")
        figcaption.directory__discription Lamborghini не хочет выпускать бюджетный спорткар за 200 000 долларов




