.slider
    .slider__module
        .slider__items
            .slider__item
                img(src='images/slider/slide_1.jpg')
            .slider__item
                img(src='images/slider/slide_2.jpg')
            .slider__item
                img(src='images/slider/slide_3.jpg')
            .slider__item
                img(src='images/slider/slide_4.jpg')
        .slider__nav
            ul.slider__nav-items
                li.slider__nav-item 1
                li.slider__nav-item 2
                li.slider__nav-item 3
                li.slider__nav-item 4
    .slider__info
        ul.slider__info-itmes
            li.slider__info-item.current
                div В Индии был замечен новый Chevrolet Trailblazer
            li.slider__info-item
                div Datsun наращивает продажи в России
            li.slider__info-item
                div Ford Kuga ожидает премиальная модификация Vignale
            li.slider__info-item
                div Объем продаж Audi по всему миру вырос на 6%

