input#first-radio.c-radio__inp(type='checkbox', checked)
label.c-radio(for="first-radio")

input#second-radio.c-radio__inp(type='checkbox', checked, disabled)
label.c-radio(for="second-radio")

input#third-radio.c-radio__inp(type='checkbox')
label.c-radio(for="third-radio")


input#first-check.c-checkbox__inp(type='checkbox', checked)
label.c-checkbox(for="first-check")

input#second-check.c-checkbox__inp(type='checkbox', checked, disabled)
label.c-checkbox(for="second-check")

input#third-check.c-checkbox__inp(type='checkbox')
label.c-checkbox(for="third-check")

