.menu
  border-bottom 2px solid #000
  border-left 2px solid #000
  background-color rgba(0,0,0,0.1)
  z-index 10000
  position relative
  clearfix()

  &__item
    list-style none
    display inline-block
    position relative

  &__lnk
    position relative
    border-right  2px solid #000
    border-top 2px solid #000
    display block
    font-size 22px
    line-height 46px
    padding 0 34px
    text-decoration none
    color #000

  &__lnk_t_active
    position relative
    background #fff
    border-right  2px solid #fff
    border-top 2px solid #fff
    padding-left 36px
    margin-left -2px
    margin-bottom -2px
    padding-bottom 2px
    box-shadow  0px 0px 10px 0px rgba(0, 0, 0, 0.3)