

nav.menu
    ul
        li.menu__item
            a.menu__lnk(href="#") Главная
        li.menu__item
            a(class="menu__lnk" href="#") Каталог
            include ../col-menu/col-menu
        li.menu__item
            a.menu__lnk(href="#") О компании
        li.menu__item
            a.menu__lnk(href="#") Контакты



